<div class="container">
    <div class="row">
	{{#each products}}
            <div class="col-md-3 product-men" style="margin-top: 25px">
                <div class="product-chr-info chr">
                    <div class="thumbnail">
                        <a href="/detail?id={{id}}&id_loai={{id_loai}}&id_nsx={{id_nsx}}">
                            <img src="/images/{{hinh_anh}}" alt="">
                        </a>
                    </div>
                    <div class="caption">
                        <h4>{{ten}}</h4>
                        <p>{{gia}}</p>
                        <div class="matrlf-mid">
                            {{!-- <ul class="price-list">
                                <li>{{gia}}đ</li>
                                <li>{{ gia_bia}}đ</li>
                            </ul> --}}
                            {{!-- <p>{{gia}}</p> --}}
                            <div class="clearfix"> </div>
                        </div>
                        <form action="/cart/add" method="post">
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="proId" value="{{id}}">
                            <button type="submit" class="chr-cart pchr-cart">Mua
                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            </button>
                            <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                        </form>
                    </div>
                </div>
            </div>
            {{/each}}
</div>
</div>